@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

.app {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Barlow', sans-serif;
}
